@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.woff2") format('woff2');
}

@font-face {
  font-family: FontAwesome-GitHub;
  src: url("../fonts/FontAwesome-GitHub.woff2") format('woff2');
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.1;
  font-family: Moz;
  text-align: center;
}

* {
  font-weight: normal;
}

header,
footer {
  margin: 0;
}

header {
  background-color: #FF9500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3vmax;
}

header hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

header hgroup:before {
  display: block;
  height: 18vmax;
  width: 18vmax;
  background-image: url('../images/firefox-logo-beta.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  content: "";
  pointer-events: none;
}

header h1 {
  overflow: auto;
  margin: 0;
  font-size: 7vmax;
}

header h2 {
  margin: 0;
  font-size: 3vmax;
}

#diag {
  width: 100%;
  height: 90px;
  background: #FF9500;
  clip-path: polygon(0% 0%, 100% 0%, 139% 100%, 0% 0%);
}

#content {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bugcount {
  display: flex;
  padding: 3vmax;
}

.bugcount h2 {
  margin: 0 auto;
  font-size: 3vmax;
  font-weight: inherit;
  width: 20vmax;
}

.bugcount .data {
  font-size: 10vmax;
  display: block;
  width: 20vmax;
}

.bugcount .data.greyedout {
  color: #D4DDE4;
}

.bugcount .data.good {
  color: #2ABA27;
}

.bugcount .data.bad {
  color: #EA3C3D;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: highlight;
}

footer {
  flex: none;
  display: flex;
  align-items: center;
  padding: 1.5vmax;
  font-size: 2vmax;
}

footer nav {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer nav h2 {
  margin: 0;
  font-size: inherit;
}

footer nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

footer nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer div {
  flex: none;
}

footer #github .icon {
  font-family: FontAwesome-GitHub;
  font-size: 1.2em;
  vertical-align: top;
}

.release footer,
.beta footer {
  background-color: #FF9500;
}

/* release rules */
.release header hgroup:before {
  background-image: url('../images/firefox-logo.svg');
}

/* beta rules */
.beta header hgroup:before {
  background-image: url('../images/firefox-logo-beta.svg');
}

/* Nightly rules */
.nightly header hgroup:before {
  background-image: url('../images/firefox-logo-nightly.svg');
}

.nightly #title,
.nightly #subtitle {
  color: #EAEFF2;
}

.nightly header,
.nightly footer {
  background-color: #002147;
  color: #EAEFF2;
}

.nightly #diag {
  background: #002147;
}

/* Big Screen rules (office TVs) */

.bigscreen footer {
  display: none;
}

/* Skyline rules, to be removed after the Skyline project */
.skyline header,
.skyline #diag,
.skyline footer {
  background-color: #20123a;
  color: white;
}

.skyline header hgroup:before {
  background: url('../images/firefox_masterbrand.svg') no-repeat;
}

.skyline .bugcount {
  padding: 2vmax;
}

.skyline .bugcount h2 {
  font-size: 4vmax;
}


body:not(.skyline) .bugcount.skyline {
  display: none;
}

.skyline .bugcount:not(.skyline) {
  display: none;
}

@media (orientation: portrait) {
  .skyline header h1 {
    font-size: 5vmax;
  }
}
@media screen and (min-width: 1024px) {
  .bugcount {
    flex-direction: column;
  }
}

@media screen and (max-width: 1023px) {
  #content {
    flex-direction: column;
    padding: 3vmax;
  }

  .bugcount {
    flex-direction: row;
    align-items: center;
    padding: 2vmax;
  }

  footer nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer nav li {
    padding: 0 .4em;
  }
}

@media screen and (min-width: 768px) {
  footer nav li {
    padding-left: .8em;
  }

  footer nav li:not(:last-child)::after {
    padding-left: .8em;
    content: '|';
  }
}

@media screen and (max-width: 767px) {
  footer {
    font-size: 3vmax;
  }
}

@media (orientation: portrait) {
  header hgroup {
    align-items: center;
  }

  header hgroup:before {
    margin-bottom: 2vmax;
  }

  header h2 {
    margin-top: 1vmax;
  }

  footer {
    padding: 3vmax;
  }

  footer,
  footer nav {
    flex-direction: column;
  }

  footer nav li {
    margin-top: .2em;
  }

  footer div {
    margin-top: 1em;
  }
}

@media (orientation: landscape) {
  header hgroup {
    padding-left: 22vmax;
    min-height: 18vmax;
  }

  header hgroup:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  header h2 {
    white-space: nowrap;
  }
}
