@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

header,
footer {
  font-family: Moz;
  margin: 0;
}

header {
  font-size: 6vmin;
  background-color: #FF9500;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20px;
}

#diag {
  width: 100%;
  height: 90px;
  background: #FF9500;
  clip-path: polygon(0% 0%, 100% 0%, 139% 100%, 0% 0%);
}

header h1 {
  font-weight: normal;
  font-family: Moz;
  margin: 0;
}

header h1:before {
  background: url('../images/firefox-logo-beta.svg') no-repeat;
  background-color: #FF9500;
  display: inline-block;
  content: " ";
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

header h2 {
  font-family: Moz;
  font-size: 80%;
  text-indent: 20%;
  margin-top: -1em;
}

.release .header-bg,
.beta .header-bg {
  border-right: 100vw solid #FF9500;
}

#content {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bugcount {
  padding: 3vw;
}

.bugcount h2 {
  margin-top: 0;
  font-size: 3vw;
  font-weight: inherit;
  width: 12ch;
}

.bugcount .data {
  font-size: 10vw;
  display: inline-block;
}

.greyedout {
  color: #D4DDE4;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: highlight;
}

footer {
  height: 4vh;
  padding-top: 2vh;
  font-size: 2vmin;
}

footer a {
  padding-top: 1vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.release footer,
.beta footer {
  background-color: #FF9500;
}

/* release rules */
.release h1:before {
  background: url('../images/firefox-logo.svg') no-repeat 30% center;
  background-color: #FF9500;
}

/* beta rules */
.beta h1:before {
  background: url('../images/firefox-logo-beta.svg') no-repeat 30% center;
  background-color: #FF9500;
}

/* Nightly rules */
.nightly h1:before {
  background: url('../images/firefox-logo-nightly.svg') no-repeat 30% center;
  background-color: #002147;
}

.nightly .header-bg {
  border-right: 100vw solid #002147;
}

.nightly #title,
.nightly #subtitle {
  color: #EAEFF2;
}

.nightly header,
.nightly footer {
  background-color: #002147;
  color: #EAEFF2;
}

.nightly #diag {
  background: #002147;
}

/* Big Screen rules (office TVs) */

.bigscreen footer,
.bigscreen #forkongithub {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    font-size: 4vmin;
  }

  header h1:before {
    width: 80px;
    height: 80px;
  }

  header h2 {
    font-size: 80%;
    margin-top: 0;
  }
}
